@using fiorello_project.ViewModels.FaqPage
@model FaqPageIndexViewModel
<div class="mkdf-content">
    <div class="mkdf-content-inner">
        <div class="mkdf-title-holder mkdf-centered-type mkdf-title-va-header-bottom mkdf-title-content-va-middle mkdf-has-bg-image mkdf-bg-parallax" style="height: 320px; background-color: rgb(250, 250, 249); background-image: url(&quot;assets/vendor/wp-content/uploads/2018/05/p1-title-img.jpg&quot;); background-position: center 0px;" data-height="320">
            <div class="mkdf-title-image">
                <img itemprop="image" src="assets/vendor/wp-content/uploads/2018/05/p1-title-img.jpg" alt="a">
            </div>
            <div class="mkdf-title-wrapper" style="height: 320px">
                <div class="mkdf-title-inner">
                    <div class="mkdf-grid">
                        <h1 class="mkdf-page-title entry-title">FAQ Page</h1>
                        <span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkdf-container mkdf-default-page-template" style="margin-top:100px">
            <div class="mkdf-container-inner clearfix">
                <div class="mkdf-grid-row">
                    <div class="mkdf-page-content-holder mkdf-grid-col-9 mkdf-grid-col-push-3">
                        <section class="wpb-content-wrapper">

                            @foreach (var faqPage in Model.FaqPages)
                            {

                                <div data-mkdf-anchor="magnificence" class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-1 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-11 vc_col-md-12 vc_col-xs-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
                                                    <div class="mkdf-st-inner">
                                                        <h3 class="mkdf-st-title">
                                                            <span class="mkdf-st-title-highlight">@faqPage.Order.ToString("D2").</span>
                                                            @faqPage.Title
                                                        </h3>
                                                        <p class="mkdf-st-text" style="margin-top: 22px">
                                                            @faqPage.Description
                   
                                                                                            </p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space" style="height: 55px"><span class="vc_empty_space_inner"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </section>
                    </div>
                    <div class="mkdf-sidebar-holder mkdf-grid-col-3 mkdf-grid-col-pull-9">
                        <aside class="mkdf-sidebar">
                            <div class="widget mkdf-separator-widget">
                                <div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal" style="margin-bottom: 0px">
                                    <div class="mkdf-separator" style="border-style: solid"></div>
                                </div>
                            </div>
                            <div class="widget widget_text">
                                <div class="mkdf-widget-title-holder">
                                    <h6 class="mkdf-widget-title">Frequently Asked Questions</h6>
                                </div>
                                <div class="textwidget">
                                    <ul>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#magnificence">
                                                
                                                Creating messages of
                                                magnificence.
                                            
                                            </a>
                                        
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#beautiful">
                                                
                                                Always making beautiful
                                                flowers.
                                            
                                            </a>
                                        
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#celebrations">
                                                
                                                Made for all of
                                                life’s celebrations.
                                            
                                            </a>
                                        
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href=" #unique">
                                                
                                                Shouldn’t your flowers be
                                                unique too?
                                            
                                            </a>
                                        
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#emotions">We create emotions.</a>
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#thoughts">
                                                
                                                With your thoughts in
                                                hand.
                                            
                                            </a>
                                        
                                        </li>
                                        <li>
                                            
                                            <a class="mkdf-anchor" href="#solutions">Creative solutions.</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget_search">
                                <form role="search" method="get" class="searchform" id="searchform-324" action="https://fiorello.qodeinteractive.com/">
                                    <label class="screen-reader-text">Search for:</label>
                                    <div class="input-holder clearfix">
                                        <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
                                        <button type="submit" class="mkdf-search-submit"><span aria-hidden="true" class="mkdf-icon-font-elegant icon_search "></span></button>
                                    </div>
                                </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkdf-content-bottom">
            <div class="mkdf-content-bottom-inner mkdf-full-width">
                <div class="widget widget_mkdf_instagram_widget"></div>
            </div>
        </div>
    </div>
</div>
