<div class="mkdf-content">
				<div class="mkdf-content-inner">
					<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle"
						style="height: 225px;background-color: #fafaf9" data-height="225">
						<div class="mkdf-title-wrapper" style="height: 225px">
							<div class="mkdf-title-inner">
								<div class="mkdf-grid">
									<h1 class="mkdf-page-title entry-title">Fiorello</h1>
									<span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-container">
						<div class="mkdf-container-inner clearfix">
							<div class="mkdf-grid-row mkdf-content-has-sidebar mkdf-grid-huge-gutter">
								<div class="mkdf-page-content-holder mkdf-grid-col-12">
									<div class="mkdf-blog-holder mkdf-blog-single mkdf-blog-single-standard">
										<article id="post-814"
											class="post-814 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose">
											<div class="mkdf-post-content">
												<div class="mkdf-post-heading">
													<div class="mkdf-post-image">
														<img width="1300" height="830"
															src="~/assets/vendor/wp-content/uploads/2018/05/blog-feature-img-8.jpg"
															class="attachment-full size-full wp-post-image" alt="aa"
															srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-75x48.jpg 75w"
															sizes="(max-width: 1300px) 100vw, 1300px" loading="eager" />
													</div>
												</div>
												<div class="mkdf-post-text">
													<div class="mkdf-post-text-inner">
														<div class="mkdf-post-text-main">
															<h3 itemprop="name" class="entry-title mkdf-post-title">
																Say you care </h3>
															<section class="wpb-content-wrapper">
																<div class="vc_row wpb_row vc_row-fluid">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>Class aptent taciti sociosqu
																							ad litora torquent per
																							conubia nostra, per inceptos
																							himenaeos. Mauris in erat
																							justo. Nullam ac urna eu
																							felis dapibus condimentum
																							sit amet a augue. Sed non
																							neque elit. Sed ut imperdiet
																							nisi. Proin condimentum
																							fermentum nunc. Etiam
																							pharetra, erat sed fermentum
																							feugiat, velit mauris
																							egestas quam, ut aliquam
																							massa nisl quis neque.
																							Suspendisse in orci enim.
																							Sed ut perspiciatis unde
																							omnis iste natus. Proin
																							gravida nibh vel velit
																							auctor aliquet. Aenean
																							sollicitudin, lorem quis
																							bibendum auctor, nisi elit
																							consequat ipsum, nec
																							sagittis sem</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525439973712">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<blockquote>
																							<p>
																								“Let VanderSalm’s-Flipse
																								be your first choice for
																								flowers. Creative
																								solutions for all your
																								floral needs.”
																							</p>
																						</blockquote>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="vc_row wpb_row vc_row-fluid">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>Class aptent taciti sociosqu
																							ad litora torquent per
																							conubia nostra, per inceptos
																							himenaeos. Mauris in erat
																							justo. Nullam ac urna eu
																							felis dapibus condimentum
																							sit amet a augue. Sed non
																							neque elit. Sed ut imperdiet
																							nisi. Proin condimentum
																							fermentum nunc. Etiam
																							pharetra, erat sed fermentum
																							feugiat, velit mauris
																							egestas quam, ut aliquam
																							massa nisl quis neque.
																							Suspendisse in orci enim.
																							Sed ut perspiciatis unde
																							omnis iste natus. Proin
																							gravida nibh vel velit
																							auctor aliquet. Aenean
																							sollicitudin, lorem quis
																							bibendum auctor, nisi elit
																							consequat ipsum, nec
																							sagittis sem</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525088910696 vc_column-gap-10">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="mkdf-image-gallery  mkdf-ig-masonry-fixed-type mkdf-tiny-space   mkdf-image-hover-shader mkdf-ig-masonry-type">
																					<div
																						class="mkdf-ig-inner mkdf-outer-space mkdf-ig-masonry mkdf-ig-three-columns">
																						<div class="mkdf-ig-grid-sizer">
																						</div>
																						<div
																							class="mkdf-ig-grid-gutter">
																						</div>

																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525091554450 mkdf-content-aligment-center">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div
																			class="vc_column-inner vc_custom_1525091424828">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p><em>&#8220;Be Awesome
																								today!&#8221;</em></p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525091759706">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>Lorem ipsum dolor sit amet,
																							consectetur adipiscing elit.
																							Donec turpis dolor,
																							malesuada non leo a,
																							vehicula ornare nibh.
																							Integer eget bibendum nulla,
																							nec hendrerit magna. Nunc
																							vitae ipsum interdum, varius
																							magna ut, sollicitudin nunc.
																							Pellentesque habitant morbi
																							tristique senectus et netus
																							et malesuada fames ac turpis
																							egestas. Vestibulum aliquam
																							condimentum ligula sit amet
																							imperdiet. Sed facilisis
																							ipsum nulla, at auctor
																							mauris imperdiet at. Nam
																							placerat vulputate libero at
																							fermentum. Nullam ut lacus
																							ac elit luctus tempor ut nec
																							turpis. Quisque fermentum
																							feugiat neque, ut ultrices
																							nisi. Praesent eu euismod
																							mauris. Lorem ipsum dolor
																							sit amet, consectetur
																							adipiscing elit. Duis
																							gravida euismod efficitur.
																							Aenean ut purus quis arcu
																							suscipit viverra non ornare
																							nunc. Donec bibendum at</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-content-bottom">
						<div class="mkdf-content-bottom-inner mkdf-full-width">
							<div class="widget widget_mkdf_instagram_widget"></div>
						</div>
					</div>
				</div>
			</div>