<div class="mkdf-content-inner">
					<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle" style="height: 225px;background-color: #fafaf9" data-height="225">
						<div class="mkdf-title-wrapper" style="height: 225px">
							<div class="mkdf-title-inner">
								<div class="mkdf-grid">
									<h1 class="mkdf-page-title entry-title">Blog Masonry</h1>
									<span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-container">
						<div class="mkdf-container-inner clearfix">
							<div class="mkdf-grid-row mkdf-grid-huge-gutter">
								<div class="mkdf-page-content-holder mkdf-grid-col-12">
									<div class="mkdf-blog-holder mkdf-blog-masonry mkdf-blog-pagination-standard mkdf-masonry-images-fixed mkdf-blog-type-masonry mkdf-blog-three-columns mkdf-large-space mkdf-blog-masonry-in-grid" data-blog-type="masonry" data-next-page="2" data-max-num-pages="3" data-post-number="11" data-excerpt-length="13">
										<div class="mkdf-blog-holder-inner mkdf-outer-space" style="position: relative; height: 1243px; opacity: 1;">
											<div class="mkdf-blog-masonry-grid-sizer"></div>
											<div class="mkdf-blog-masonry-grid-gutter"></div>
											<article id="post-814" class="mkdf-post-has-media mkdf-item-space post-814 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 0%; top: 0px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../say-you-care/index.html" title="Say you care">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-8.jpg" class="attachment-full size-full wp-post-image" alt="aa" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../say-you-care/index.html" title="Say you care">
																		Say you care </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-830" class="mkdf-post-has-media mkdf-item-space post-830 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 33.2593%; top: 0px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../with-impact/index.html" title="With Impact">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-9.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../with-impact/index.html" title="With Impact">
																		With Impact </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-763" class="mkdf-post-has-media mkdf-item-space post-763 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 66.5926%; top: 0px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../flowers-anytime/index.html" title="Flowers, anytime…">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-5.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../flowers-anytime/index.html" title="Flowers, anytime…">
																		Flowers, anytime… </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-835" class="mkdf-post-has-media mkdf-item-space post-835 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 0%; top: 414px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../the-art-of-fresher-flowers/index.html" title="The art of fresher flowers">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-7.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../the-art-of-fresher-flowers/index.html" title="The art of fresher flowers">
																		The art of fresher flowers </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-760" class="mkdf-post-has-media mkdf-item-space post-760 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 33.2593%; top: 414px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../made-with-care/index.html" title="Made With Care">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/04/blog-feature-img-2.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-2-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../made-with-care/index.html" title="Made With Care">
																		Made With Care </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-840" class="mkdf-post-has-media mkdf-item-space post-840 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 66.5926%; top: 414px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../where-dreams-become-reality/index.html" title="Where dreams become reality">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-10.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-10-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../where-dreams-become-reality/index.html" title="Where dreams become reality">
																		Where dreams become reality </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-843" class="mkdf-post-has-media mkdf-item-space post-843 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 0%; top: 828px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../say-it-with-flowers/index.html" title="Say it with flowers">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-6.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-6-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../say-it-with-flowers/index.html" title="Say it with flowers">
																		Say it with flowers </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
											<article id="post-845" class="mkdf-post-has-media mkdf-item-space post-845 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose" style="position: absolute; left: 33.2593%; top: 828px;">
												<div class="mkdf-post-content">
													<div class="mkdf-post-heading">
														<div class="mkdf-post-image">
															<a itemprop="url" href="../award-winning-florist/index.html" title="Award winning florist">
																<img width="1300" height="830" src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-11.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-11-75x48.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px"> </a>
														</div>
														<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
															<a itemprop="url" href="../2018/05/index.html">
																04.05.2018 </a>
															<meta itemprop="interactionCount" content="UserComments: 0">
														</div>
													</div>
													<div class="mkdf-post-text">
														<div class="mkdf-post-text-inner">
															<div class="mkdf-post-text-main">
																<h5 itemprop="name" class="entry-title mkdf-post-title">
																	<a itemprop="url" href="../award-winning-florist/index.html" title="Award winning florist">
																		Award winning florist </a>
																</h5>
																<div class="mkdf-post-excerpt-holder">
																	<p itemprop="description" class="mkdf-post-excerpt">
																		Class aptent taciti sociosqu ad litora torquent
																		per conubia nostra, per inceptos himenaeos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</article>
										</div>
										<div class="mkdf-blog-pagination">
											<ul>
												<li class="mkdf-pag-number">
													<a class="mkdf-pag-active" href="#">1</a>
												</li>
												<li class="mkdf-pag-number">
													<a itemprop="url" class="mkdf-pag-inactive" href="page/2/index.html">2</a>
												</li>
												<li class="mkdf-pag-number">
													<a itemprop="url" class="mkdf-pag-inactive" href="page/3/index.html">3</a>
												</li>
												<li class="mkdf-pag-next">
													<a itemprop="url" href="page/2/index.html">
														<span class="mkdf-icon-linear-icons lnr lnr-chevron-right"></span>
													</a>
												</li>
											</ul>
										</div>
										<div class="mkdf-blog-pagination-wp">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-content-bottom">
						<div class="mkdf-content-bottom-inner mkdf-full-width">
							<div class="widget widget_mkdf_instagram_widget"></div>
						</div>
					</div>
				</div>