<section class="wpb-content-wrapper">
										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="vc_column-inner">
													<div class="wpb_wrapper">
														<div class="wpb_revslider_element wpb_content_element">
															<p class="rs-p-wp-fix"></p>
															<rs-module-wrap id="rev_slider_3_1_wrapper"
																data-source="gallery"
																style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
																<rs-module id="rev_slider_3_1" style=""
																	data-version="6.6.5">
																	<rs-slides
																		style="overflow: hidden; position: absolute;">
																		<rs-slide style="position: absolute;"
																			data-key="rs-5" data-title="Slide"
																			data-thumb="assets/vendor/wp-content/uploads/2018/05/h3-slider-background.jpg"
																			data-anim="adpr:false;" data-p1="01">
																			<img src="assets/vendor/wp-content/plugins/revslider/public/assets/assets/dummy.png"
																				alt="" title="Main Home"
																				class="rev-slidebg tp-rs-img rs-lazyload"
																				data-lazyload="assets/vendor/wp-content/uploads/2018/05/h3-slider-background.jpg"
																				data-bg="p:center right;"
																				data-panzoom="d:10000;ss:110;se:100;"
																				data-no-retina>
																		</rs-slide>
																		<rs-slide style="position: absolute;"
																			data-key="rs-11" data-title="Slide"
																			data-thumb="assets/vendor/wp-content/uploads/2018/05/h3-slider-background-2.jpg"
																			data-anim="adpr:false;" data-p1="02">
																			<img src="assets/vendor/wp-content/plugins/revslider/public/assets/assets/dummy.png"
																				alt="" title="Main Home"
																				class="rev-slidebg tp-rs-img rs-lazyload"
																				data-lazyload="assets/vendor/wp-content/uploads/2018/05/h3-slider-background-2.jpg"
																				data-bg="p:center bottom;"
																				data-panzoom="d:10000;ss:100;se:115;"
																				data-no-retina>
																		</rs-slide>
																		<rs-slide style="position: absolute;"
																			data-key="rs-13" data-title="Slide"
																			data-thumb="assets/vendor//wp-content/uploads/2018/05/h3-slider-background-3.jpg"
																			data-anim="adpr:false;" data-p1="03">
																			<img src="assets/vendor/wp-content/plugins/revslider/public/assets/assets/dummy.png"
																				alt="" title="Main Home"
																				class="rev-slidebg tp-rs-img rs-lazyload"
																				data-lazyload="assets/vendor/wp-content/uploads/2018/05/h3-slider-background-3.jpg"
																				data-panzoom="d:10000;ss:100;se:110;"
																				data-no-retina>
																		</rs-slide>
																	</rs-slides>
																	<rs-static-layers class="rs-stl-visible">
																		<rs-layer id="slider-3-slide-3-layer-17"
																			class="rs-layer-static" data-type="text"
																			data-color="#000000" data-rsp_ch="on"
																			data-xy="y:m;yo:-117px,-99px,-98px,-35px;"
																			data-text="w:normal;s:60,41,41,30;l:70,51,51,40;a:inherit;"
																			data-dim="w:506px,347px,339px,281px;h:auto,103px,143px,97px;"
																			data-onslides="s:1;" data-frame_0="tp:600;"
																			data-frame_1="tp:600;st:400;sp:1300;sR:400;"
																			data-frame_999="o:0;tp:600;st:w;sR:2300;"
																			style="z-index:5;font-family:'Playfair Display';">
																			Send <span
																				style=" color: red; ">flowers</span>
																			like you mean it.
																		</rs-layer>
																		<rs-layer id="slider-3-slide-3-layer-18"
																			class="rs-layer-static" data-type="text"
																			data-color="#6d6a6a" data-rsp_ch="on"
																			data-xy="xo:0,0,0,-361px;y:m;yo:26px,16px,12px,7px;"
																			data-text="w:normal;s:17;l:29;a:inherit;"
																			data-dim="w:497px,429px,322px,291px;h:88px,89px,auto,117px;"
																			data-vbility="t,t,t,f" data-onslides="s:1;"
																			data-frame_0="tp:600;"
																			data-frame_1="tp:600;st:550;sp:1300;sR:550;"
																			data-frame_999="o:0;tp:600;st:w;sR:2150;"
																			style="z-index:6;font-family:'Lora';">Where
																			flowers are our inspiration to create
																			lasting memories. Whatever the occasion, our
																			flowers will make it special cursus a sit
																			amet mauris.
																		</rs-layer>
																		<rs-layer id="slider-3-slide-3-layer-19"
																			class="rs-layer-static" data-type="image"
																			data-rsp_ch="on"
																			data-xy="y:m;yo:137px,113px,129px,49px;"
																			data-text="l:22;a:inherit;"
																			data-dim="w:['197px','197px','197px','197px'];h:['56px','56px','56px','56px'];"
																			data-onslides="s:1;" data-frame_0="tp:600;"
																			data-frame_1="tp:600;st:700;sp:1300;sR:700;"
																			data-frame_999="o:0;tp:600;st:w;sR:2000;"
																			style="z-index:7;"><img
																				src="assets/vendor/wp-content/plugins/revslider/public/assets/assets/dummy.png"
																				alt="s" class="tp-rs-img rs-lazyload"
																				width="197" height="56"
																				data-lazyload="assets/vendor/wp-content/uploads/2018/04/h2-sign-img.png"
																				data-no-retina>
																		</rs-layer>
																	</rs-static-layers>
																</rs-module>
																<script>
																	setREVStartSize({ c: 'rev_slider_3_1', rl: [1920, 1600, 1025, 480], el: [], gw: [1300, 1100, 600, 300], gh: [614, 477, 605, 420], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules["revslider31"] !== undefined) { window.RS_MODULES.modules["revslider31"].once = false; window.revapi3 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }
																</script>
															</rs-module-wrap>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526044222558">
													<div class="wpb_column vc_column_container vc_col-sm-12">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-pl-holder mkdf-standard-layout mkdf-medium-space mkdf-four-columns mkdf-info-below-image "
																	data-type="standard"
																	data-info-position="info-below-image"
																	data-number-of-posts="8" data-number-of-columns="4"
																	data-space-between-items="medium"
																	data-show-ordering-filter="yes" data-orderby="date"
																	data-order="ASC" data-show-category-filter="yes"
																	data-show-all-item-in-filter="yes"
																	data-taxonomy-to-display="category"
																	data-display-title="yes" data-title-tag="h6"
																	data-display-category="no" data-display-rating="no"
																	data-display-price="yes" data-display-button="yes"
																	data-button-skin="default" data-class-name="pli"
																	data-layout-classes="mkdf-pli-hover-overlay">
																		<h2 class="mkdf-st-title mkdf-content-aligment-center">
																			Products </h2>
																	<div class="mkdf-prl-loading">
																		<span
																			class="mkdf-prl-loading-msg">Loading...</span>
																	</div>
																	<div class="mkdf-pl-outer mkdf-outer-space">
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-14-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="l" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/majesty-palm/index.html"
																					title="Majesty Palm"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/majesty-palm/index.html">Majesty
																						Palm</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="indexcd19.html?add-to-cart=365"
																						data-quantity="1"
																						data-product_id="365"
																						data-product_sku="7555"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																						to cart</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-13-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="k" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/foxglove-flower/index.html"
																					title="Foxglove Flower"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/foxglove-flower/index.html">Foxglove
																						Flower</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="indexb9d5.html?add-to-cart=364"
																						data-quantity="1"
																						data-product_id="364"
																						data-product_sku="74141"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																						to cart</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<span
																						class="mkdf-pli-out-of-stock">Sold</span>
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/05/shop-10-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="d" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/sweet-alyssum/index.html"
																					title="Sweet Alyssum"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/sweet-alyssum/index.html">Sweet
																						Alyssum</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="product/sweet-alyssum/index.html"
																						data-quantity="1"
																						data-product_id="363"
																						data-product_sku="5555"
																						class="button ajax_add_to_cart mkdf-button">Read
																						more</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-11-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="l" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/spring-snowflake/index.html"
																					title="Spring Snowflake"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/spring-snowflake/index.html">Spring
																						Snowflake</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="index7f13.html?add-to-cart=358"
																						data-quantity="1"
																						data-product_id="358"
																						data-product_sku="8774"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																						to cart</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>170</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<span
																						class="mkdf-pli-onsale">Sale</span>
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-12-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="k" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/scarlet-sage/index.html"
																					title="Scarlet Sage"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/scarlet-sage/index.html">Scarlet
																						Sage</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="index4d00.html?add-to-cart=331"
																						data-quantity="1"
																						data-product_id="331"
																						data-product_sku="89547"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																						to cart</a>
																				</div>
																				<div class="mkdf-pli-price"><del
																						aria-hidden="true"><span
																							class="woocommerce-Price-amount amount"><span
																								class="woocommerce-Price-currencySymbol">&#036;</span>259</span></del>
																					<ins><span
																							class="woocommerce-Price-amount amount"><span
																								class="woocommerce-Price-currencySymbol">&#036;</span>159</span></ins>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-9-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="s" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/rock-soapwort/index.html"
																					title="Rock Soapwort"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/rock-soapwort/index.html">Rock
																						Soapwort</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="product/rock-soapwort/index.html"
																						data-quantity="1"
																						data-product_id="319"
																						data-product_sku="89844"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">View
																						products</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-8-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="l" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/summer-savory/index.html"
																					title="Summer Savory"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/summer-savory/index.html">Summer
																						Savory</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="indexd7ec.html?add-to-cart=310"
																						data-quantity="1"
																						data-product_id="310"
																						data-product_sku="89561"
																						class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																						to cart</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																		<div class="mkdf-pli mkdf-item-space ">
																			<div class="mkdf-pli-inner">
																				<div class="mkdf-pli-image">
																					<img width="620" height="800"
																						src="assets/vendor/wp-content/uploads/2018/04/shop-7-img.jpg"
																						class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
																						alt="g" loading="eager" />
																				</div>
																				<a class="mkdf-pli-link" itemprop="url"
																					href="product/wild-roses/index.html"
																					title="Wild Roses"></a>
																			</div>
																			<div class="mkdf-pli-text-wrapper">
																				<h6 itemprop="name"
																					class="entry-title mkdf-pli-title">
																					<a itemprop="url"
																						href="product/wild-roses/index.html">Wild
																						Roses</a>
																				</h6>
																				<div
																					class="mkdf-pli-add-to-cart mkdf-default-skin">
																					<a rel="nofollow"
																						href="https://www.amazon.com/ProFlowers-Count-Ginger-Flowers-Mothers/dp/B01IDQKGYC/ref=sr_1_1_sspa?ie=UTF8&amp;qid=1524830057&amp;sr=8-1-spons&amp;keywords=roses&amp;psc=1"
																						data-quantity="1"
																						data-product_id="309"
																						data-product_sku="89564"
																						class="button product_type_external mkdf-button">Buy
																						on Amazon</a>
																				</div>
																				<div class="mkdf-pli-price"><span
																						class="woocommerce-Price-amount amount"><span
																							class="woocommerce-Price-currencySymbol">&#036;</span>259</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper " style="background-color:#f7f7f7">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526286525706">
													<div class="wpb_column vc_column_container vc_col-sm-12">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-elements-holder   mkdf-two-columns  mkdf-responsive-mode-1024 ">
																	<div class="mkdf-eh-item  mkdf-vertical-alignment-top    "
																		data-item-class="mkdf-eh-custom-7026">
																		<div class="mkdf-eh-item-background-image">
																		</div>
																		<div class="mkdf-eh-item-inner">
																			<div class="mkdf-eh-item-content mkdf-eh-custom-7026"
																				style="padding: 0 0 0 0">
																				<div
																					class="mkdf-video-button-holder  mkdf-vb-has-img">
																					<div
																						class="mkdf-video-button-image">
																						<img width="800" height="518"
																							src="assets/vendor/wp-content/uploads/2018/04/h3-video-img.jpg"
																							class="attachment-full size-full"
																							alt="a"
																							srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-300x194.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-768x497.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-225x146.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-75x50.jpg 75w"
																							sizes="(max-width: 800px) 100vw, 800px"
																							loading="eager" />
																					</div>
																					<a class="mkdf-video-button-play"
																						href="https://www.youtube.com/watch?time_continue=1&amp;v=K-0cjGCNYfs"
																						target="_self"
																						data-rel="prettyPhoto[video_button_pretty_photo_776]">
																						<span
																							class="mkdf-video-button-play-inner">
																							<span
																								class="mkdf-video-button-outer">
																								<span
																									class="arrow_triangle-right"></span>
																							</span>
																						</span>
																					</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="mkdf-eh-item  mkdf-vertical-alignment-top    "
																		data-item-class="mkdf-eh-custom-3036"
																		data-1024-1366="4px 6% 0px 70px"
																		data-768-1024="59px 37% 0px 0px"
																		data-680-768="59px 24% 0px 0px"
																		data-680="59px 0% 0px 0px">
																		<div class="mkdf-eh-item-background-image">
																		</div>
																		<div class="mkdf-eh-item-inner">
																			<div class="mkdf-eh-item-content mkdf-eh-custom-3036"
																				style="padding: 31px 14% 0px 70px">
																				<div
																					class="mkdf-section-title-holder  mkdf-st-disable-title-break mkdf-st-subtitle-pos-under">
																					<div class="mkdf-st-inner">
																						<h2 class="mkdf-st-title">
																							Suprise Your <span
																								class="mkdf-st-title-highlight">Valentine!</span><br />
																							Let us arrange a smile.
																						</h2>
																						<p class="mkdf-st-text"
																							style="font-size: 17px;line-height: 29px;margin-top: 27px">
																							Where flowers are our
																							inspiration to create
																							lasting memories. Whatever
																							the occasion... </p>
																					</div>
																				</div>
																				<div class="vc_empty_space"
																					style="height: 32px"><span
																						class="vc_empty_space_inner"></span>
																				</div>
																				<div class="mkdf-icon-list-holder "
																					style="margin-bottom: 19px">
																					<div class="mkdf-il-icon-holder">
																						<img width="19" height="18"
																							src="assets/vendor/wp-content/uploads/2018/04/h1-custom-icon.png"
																							class="attachment-full size-full"
																							alt="s" loading="eager" />
																					</div>
																					<p class="mkdf-il-text"
																						style="font-size: 17px">Hand
																						picked just for you.</p>
																				</div>
																				<div class="mkdf-icon-list-holder "
																					style="margin-bottom: 19px">
																					<div class="mkdf-il-icon-holder">
																						<img width="19" height="18"
																							src="assets/vendor/wp-content/uploads/2018/04/h1-custom-icon.png"
																							class="attachment-full size-full"
																							alt="s" loading="eager" />
																					</div>
																					<p class="mkdf-il-text"
																						style="font-size: 17px">Unique
																						flower arrangements</p>
																				</div>
																				<div class="mkdf-icon-list-holder "
																					style="margin-bottom: 19px">
																					<div class="mkdf-il-icon-holder">
																						<img width="19" height="18"
																							src="assets/vendor/wp-content/uploads/2018/04/h1-custom-icon.png"
																							class="attachment-full size-full"
																							alt="s" loading="eager" />
																					</div>
																					<p class="mkdf-il-text"
																						style="font-size: 17px">Best way
																						to say you care.</p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526289640040">
													<div
														class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
																	<div class="mkdf-st-inner">
																		<h2 class="mkdf-st-title">
																			Flower Experts </h2>
																		<p class="mkdf-st-text"
																			style="font-size: 17px;line-height: 29px">
																			A perfect blend of creativity, energy,
																			communication, happiness and love. Let us
																			arrange a smile for you. </p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526289670330">
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/04/h3-team-img-1.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-1.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-1-100x100.png 100w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-1-50x50.png 50w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-1-150x150.png 150w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Crystal Brooks
																			</h6>
																			<span
																				class="mkdf-team-position">Florist</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/05/h3-team-img-2.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-team-img-2.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-team-img-2-100x100.png 100w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Shirley Harris
																			</h6>
																			<span
																				class="mkdf-team-position">Manager</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/04/h3-team-img-3.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-100x100.png 100w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-50x50.png 50w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3-150x150.png 150w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Beverly Clark
																			</h6>
																			<span
																				class="mkdf-team-position">Florist</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
													<div
														class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-team-holder mkdf-team-info-below-image">
																	<div class="mkdf-team-inner">
																		<div class="mkdf-team-image">
																			<img width="222" height="222"
																				src="assets/vendor/wp-content/uploads/2018/04/h3-team-img-4.png"
																				class="attachment-full size-full"
																				alt="a"
																				srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4.png 222w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-100x100.png 100w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-50x50.png 50w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4-150x150.png 150w"
																				sizes="(max-width: 222px) 100vw, 222px"
																				loading="eager" />
																		</div>
																		<div class="mkdf-team-info">
																			<h6 class="mkdf-team-name">Amanda Watkins
																			</h6>
																			<span
																				class="mkdf-team-position">Florist</span>
																		</div>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 68px"><span
																		class="vc_empty_space_inner"></span></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper mkdf-parallax-row-holder mkdf-content-aligment-center"
											data-parallax-bg-image=https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg
											data-parallax-bg-speed=1>
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526628616225">
													<div
														class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
																	<div class="mkdf-st-inner">
																		<h3 class="mkdf-st-title"
																			style="color: #ffffff">
																			Join The Colorful Bunch! </h3>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 12px"><span
																		class="vc_empty_space_inner"></span></div>
																<div role="form" class="wpcf7" id="wpcf7-f133-p189-o1"
																	lang="en-US" dir="ltr">
																	<div class="screen-reader-response">
																		<p role="status" aria-live="polite"
																			aria-atomic="true"></p>
																		<ul></ul>
																	</div>
																	<form
																		action="https://fiorello.qodeinteractive.com/#wpcf7-f133-p189-o1"
																		method="post"
																		class="wpcf7-form init cf7_custom_style_2"
																		novalidate="novalidate" data-status="init">
																		<div style="display: none;">
																			<input type="hidden" name="_wpcf7"
																				value="133" />
																			<input type="hidden" name="_wpcf7_version"
																				value="5.6.4" />
																			<input type="hidden" name="_wpcf7_locale"
																				value="en_US" />
																			<input type="hidden" name="_wpcf7_unit_tag"
																				value="wpcf7-f133-p189-o1" />
																			<input type="hidden"
																				name="_wpcf7_container_post"
																				value="189" />
																			<input type="hidden"
																				name="_wpcf7_posted_data_hash"
																				value="" />
																		</div>
																		<div
																			class="mkdf-two-columns-form-without-space">
																			<div class="mkdf-column-left">
																				<span class="wpcf7-form-control-wrap"
																					data-name="your-email"><input
																						type="email" name="your-email"
																						value="" size="40"
																						class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
																						aria-required="true"
																						aria-invalid="false"
																						placeholder="Email Address" /></span>
																			</div>
																			<div class="mkdf-column-right">
																				<input type="submit" value="Subscribe"
																					class="wpcf7-form-control has-spinner wpcf7-submit" />
																			</div>
																		</div>
																		<div class="wpcf7-response-output"
																			aria-hidden="true"></div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center"
											style="background-color:#f8f8f8">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526289778958">
													<div class="wpb_column vc_column_container vc_col-sm-12">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1525335818748">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
																					<div class="mkdf-st-inner">
																						<h2 class="mkdf-st-title">
																							From our Blog </h2>
																						<p class="mkdf-st-text"
																							style="font-size: 17px;line-height: 29px">
																							A perfect blend of
																							creativity, energy,
																							communication, happiness and
																							love. Let us arrange a smile
																							for you. </p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="mkdf-blog-list-holder mkdf-bl-standard mkdf-bl-three-columns mkdf-small-space mkdf-bl-pag-no-pagination mkdf-bl-image-zoom  mkdf-bl-date-on-image"
																	data-type=standard data-number-of-posts=3
																	data-number-of-columns=3
																	data-space-between-items=small
																	data-category=bouquets data-orderby=date
																	data-order=ASC data-image-size=full
																	data-title-tag=h5 data-excerpt-length=11
																	data-post-info-section=no data-post-info-image=yes
																	data-post-info-image-zoom=yes
																	data-post-info-image-shader=no
																	data-post-info-author=yes
																	data-post-info-date-position=on-image
																	data-post-info-date=yes data-post-info-category=yes
																	data-post-info-comments=no data-post-info-like=no
																	data-post-info-share=no
																	data-pagination-type=no-pagination
																	data-max-num-pages=1 data-next-page=2>
																	<div class="mkdf-bl-wrapper mkdf-outer-space">
																		<ul class="mkdf-blog-list">
																			<li
																				class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																								href="flower-power/index.html"
																								title="Flower Power">
																								<img width="1300"
																									height="830"
																									src="assets/vendor/wp-content/uploads/2018/04/blog-feature-img-1.jpg"
																									class="attachment-full size-full wp-post-image"
																									alt="a"
																									loading="eager"
																									srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-75x48.jpg 75w"
																									sizes="(max-width: 1300px) 100vw, 1300px" />
																							</a>
																						</div>
																						<div itemprop="dateCreated"
																							class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																								href="2018/04/index.html">
																								27.04.2018 </a>
																							<meta
																								itemprop="interactionCount"
																								content="UserComments: 0" />
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																								href="flower-power/index.html"
																								title="Flower Power">
																								Flower Power </a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div
																								class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																									class="mkdf-post-excerpt">
																									Class aptent taciti
																									sociosqu ad litora
																									torquent per conubia
																									nostra, per </p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li>
																			<li
																				class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																								href="local-florists/index.html"
																								title="Local Florists">
																								<img width="1300"
																									height="830"
																									src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-3.jpg"
																									class="attachment-full size-full wp-post-image"
																									alt="a"
																									loading="eager"
																									srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-75x48.jpg 75w"
																									sizes="(max-width: 1300px) 100vw, 1300px" />
																							</a>
																						</div>
																						<div itemprop="dateCreated"
																							class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																								href="2018/05/index.html">
																								03.05.2018 </a>
																							<meta
																								itemprop="interactionCount"
																								content="UserComments: 0" />
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																								href="local-florists/index.html"
																								title="Local Florists">
																								Local Florists </a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div
																								class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																									class="mkdf-post-excerpt">
																									Class aptent taciti
																									sociosqu ad litora
																									torquent per conubia
																									nostra, per </p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li>
																			<li
																				class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																								href="flower-beauty/index.html"
																								title="Flower Beauty">
																								<img width="1300"
																									height="830"
																									src="assets/vendor/wp-content/uploads/2018/05/blog-feature-img-4.jpg"
																									class="attachment-full size-full wp-post-image"
																									alt="a"
																									loading="eager"
																									srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-75x48.jpg 75w"
																									sizes="(max-width: 1300px) 100vw, 1300px" />
																							</a>
																						</div>
																						<div itemprop="dateCreated"
																							class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																								href="2018/05/index.html">
																								03.05.2018 </a>
																							<meta
																								itemprop="interactionCount"
																								content="UserComments: 0" />
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																								href="flower-beauty/index.html"
																								title="Flower Beauty">
																								Flower Beauty </a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div
																								class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																									class="mkdf-post-excerpt">
																									Class aptent taciti
																									sociosqu ad litora
																									torquent per conubia
																									nostra, per </p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_row-fluid vc_custom_1526044823592">
													<div
														class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div
																	class="mkdf-testimonials-holder mkdf-testimonials-standard  clearfix">
																	<div class="mkdf-testimonials mkdf-owl-slider"
																		data-number-of-items="1"
																		data-enable-autoplay="yes"
																		data-slider-speed="5000"
																		data-slider-speed-animation="600"
																		data-enable-navigation="yes"
																		data-enable-pagination="no">
																		<div class="mkdf-testimonial-content"
																			id="mkdf-testimonials-62">
																			<div class="mkdf-testimonial-image">
																				<img width="87" height="87"
																					src="assets/vendor/wp-content/uploads/2018/04/testimonial-img-2.png"
																					class="attachment-87x87 size-87x87 wp-post-image"
																					alt="a" loading="eager"
																					srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-2.png 87w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-2-50x50.png 50w"
																					sizes="(max-width: 87px) 100vw, 87px" />
																			</div>
																			<div class="mkdf-testimonial-text-holder">
																				<p class="mkdf-testimonial-text">Nullam
																					dictum felis eu pede mollis pretium.
																					Integer tincidunt. Cras dapibus
																					lingua. </p>
																				<span class="mkdf-testimonial-author">
																					<span
																						class="mkdf-testimonials-author-name">Anna
																						Barnes</span>
																					<span
																						class="mkdf-testimonials-author-job">Florist</span>
																				</span>
																			</div>
																		</div>
																		<div class="mkdf-testimonial-content"
																			id="mkdf-testimonials-8">
																			<div class="mkdf-testimonial-image">
																				<img width="87" height="87"
																					src="assets/vendor/wp-content/uploads/2018/04/testimonial-img-1.png"
																					class="attachment-87x87 size-87x87 wp-post-image"
																					alt="a" loading="eager"
																					srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-1.png 87w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-1-50x50.png 50w"
																					sizes="(max-width: 87px) 100vw, 87px" />
																			</div>
																			<div class="mkdf-testimonial-text-holder">
																				<p class="mkdf-testimonial-text">Lorem
																					ipsum dolor sit amet, consectetuer
																					adipiscing elit. Aenean commodo
																					ligula eget.</p>
																				<span class="mkdf-testimonial-author">
																					<span
																						class="mkdf-testimonials-author-name">Jasmine
																						White</span>
																					<span
																						class="mkdf-testimonials-author-job">Florist</span>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
