<div class="mkdf-content">
				<div class="mkdf-content-inner">
					<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle" style="height: 225px;background-color: #fafaf9" data-height="225">
						<div class="mkdf-title-wrapper" style="height: 225px">
							<div class="mkdf-title-inner">
								<div class="mkdf-grid">
									<h1 class="mkdf-page-title entry-title">Without Sidebar</h1>
									<span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-container mkdf-default-page-template">
						<div class="mkdf-container-inner clearfix">
							<div class="mkdf-grid-row">
								<div class="mkdf-page-content-holder mkdf-grid-col-12">
									<section class="wpb-content-wrapper">
										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="vc_column-inner">
													<div class="wpb_wrapper">
														<div class="mkdf-pl-holder mkdf-standard-layout mkdf-medium-space mkdf-four-columns mkdf-info-below-image " data-type="standard" data-info-position="info-below-image" data-number-of-posts="12" data-number-of-columns="4" data-space-between-items="medium" data-show-ordering-filter="no" data-orderby="date" data-order="ASC" data-show-category-filter="no" data-show-all-item-in-filter="yes" data-taxonomy-to-display="category" data-display-title="yes" data-title-tag="h6" data-display-category="no" data-display-rating="no" data-display-price="yes" data-display-button="yes" data-button-skin="default" data-class-name="pli" data-layout-classes="mkdf-pli-hover-overlay">
															<div class="mkdf-prl-loading">
																<span class="mkdf-prl-loading-msg">Loading...</span>
															</div>
															<div class="mkdf-pl-outer mkdf-outer-space">
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<span class="mkdf-pli-new-product">New</span>
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-1-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="h" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-1-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-1-img-233x300.jpg 233w" sizes="(max-width: 620px) 100vw, 620px" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/schefflera/index.html" title="Schefflera"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/schefflera/index.html">Schefflera</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="indexcb0b.html?add-to-cart=246" data-quantity="1" data-product_id="246" data-product_sku="563654" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-2-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="c" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img-233x300.jpg 233w" sizes="(max-width: 620px) 100vw, 620px">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/orange-amaryllis/index.html" title="Orange Amaryllis"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/orange-amaryllis/index.html">Orange
																				Amaryllis</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="indexa528.html?add-to-cart=251" data-quantity="1" data-product_id="251" data-product_sku="989873" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<span class="mkdf-pli-out-of-stock">Sold</span>
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-3-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="g" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img-233x300.jpg 233w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img-600x774.jpg 600w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img-116x150.jpg 116w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img-39x50.jpg 39w" sizes="(max-width: 620px) 100vw, 620px">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/cactus-in-orange/index.html" title="Cactus In Orange"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/cactus-in-orange/index.html">Cactus
																				In Orange</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="../../product/cactus-in-orange/index.html" data-quantity="1" data-product_id="252" data-product_sku="751215" class="button ajax_add_to_cart mkdf-button">Read
																				more</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-4-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="c" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-4-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-4-img-233x300.jpg 233w" sizes="(max-width: 620px) 100vw, 620px">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/pink-flower-tree/index.html" title="Pink Flower Tree"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/pink-flower-tree/index.html">Pink
																				Flower Tree</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="../../product/pink-flower-tree/index.html" data-quantity="1" data-product_id="261" data-product_sku="99853" class="button product_type_variable add_to_cart_button mkdf-button">Select
																				options</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>180</span>
																			– <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>350</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<span class="mkdf-pli-onsale">Sale</span>
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-5-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="h" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-5-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-5-img-233x300.jpg 233w" sizes="(max-width: 620px) 100vw, 620px">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/wild-cactus/index.html" title="Wild Cactus"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/wild-cactus/index.html">Wild
																				Cactus</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="indexee06.html?add-to-cart=268" data-quantity="1" data-product_id="268" data-product_sku="68547" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span></del>
																			<ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>159</span></ins>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-6-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="f" loading="eager" srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-6-img.jpg 620w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-6-img-233x300.jpg 233w" sizes="(max-width: 620px) 100vw, 620px">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/colorful-tulips/index.html" title="Colorful Tulips"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/colorful-tulips/index.html">Colorful
																				Tulips</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="index1f03.html?add-to-cart=303" data-quantity="1" data-product_id="303" data-product_sku="9842" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>350</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-7-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="g" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/wild-roses/index.html" title="Wild Roses"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/wild-roses/index.html">Wild
																				Roses</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="https://www.amazon.com/ProFlowers-Count-Ginger-Flowers-Mothers/dp/B01IDQKGYC/ref=sr_1_1_sspa?ie=UTF8&amp;qid=1524830057&amp;sr=8-1-spons&amp;keywords=roses&amp;psc=1" data-quantity="1" data-product_id="309" data-product_sku="89564" class="button product_type_external mkdf-button">Buy
																				on Amazon</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-8-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="l" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/summer-savory/index.html" title="Summer Savory"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/summer-savory/index.html">Summer
																				Savory</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="indexd7ec.html?add-to-cart=310" data-quantity="1" data-product_id="310" data-product_sku="89561" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-9-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="s" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/rock-soapwort/index.html" title="Rock Soapwort"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/rock-soapwort/index.html">Rock
																				Soapwort</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="../../product/rock-soapwort/index.html" data-quantity="1" data-product_id="319" data-product_sku="89844" class="button add_to_cart_button ajax_add_to_cart mkdf-button">View
																				products</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<span class="mkdf-pli-onsale">Sale</span>
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-12-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="k" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/scarlet-sage/index.html" title="Scarlet Sage"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/scarlet-sage/index.html">Scarlet
																				Sage</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="index4d00.html?add-to-cart=331" data-quantity="1" data-product_id="331" data-product_sku="89547" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span></del>
																			<ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>159</span></ins>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/04/shop-11-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="l" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/spring-snowflake/index.html" title="Spring Snowflake"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/spring-snowflake/index.html">Spring
																				Snowflake</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="index7f13.html?add-to-cart=358" data-quantity="1" data-product_id="358" data-product_sku="8774" class="button add_to_cart_button ajax_add_to_cart mkdf-button">Add
																				to cart</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>170</span>
																		</div>
																	</div>
																</div>
																<div class="mkdf-pli mkdf-item-space ">
																	<div class="mkdf-pli-inner">
																		<div class="mkdf-pli-image">
																			<span class="mkdf-pli-out-of-stock">Sold</span>
																			<img width="620" height="800" src="assets/vendor/wp-content/uploads/2018/05/shop-10-img.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="d" loading="eager">
																		</div>
																		<a class="mkdf-pli-link" itemprop="url" href="../../product/sweet-alyssum/index.html" title="Sweet Alyssum"></a>
																	</div>
																	<div class="mkdf-pli-text-wrapper">
																		<h6 itemprop="name" class="entry-title mkdf-pli-title">
																			<a itemprop="url" href="../../product/sweet-alyssum/index.html">Sweet
																				Alyssum</a>
																		</h6>
																		<div class="mkdf-pli-add-to-cart mkdf-default-skin">
																			<a rel="nofollow" href="../../product/sweet-alyssum/index.html" data-quantity="1" data-product_id="363" data-product_sku="5555" class="button ajax_add_to_cart mkdf-button">Read
																				more</a>
																		</div>
																		<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>259</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-content-bottom">
						<div class="mkdf-content-bottom-inner mkdf-full-width">
							<div class="widget widget_mkdf_instagram_widget"></div>
						</div>
					</div>
				</div>
			</div>