k<div class="mkdf-title-holder mkdf-centered-type mkdf-title-va-header-bottom mkdf-title-content-va-middle mkdf-has-bg-image mkdf-bg-parallax" style="height: 320px; background-color: rgb(250, 250, 249); background-image: url(&quot;assets/vendor/wp-content/uploads/2018/05/p1-title-img.jpg&quot;); background-position: center 0px;" data-height="320">

    <div class="mkdf-title-image">
        <img itemprop="image" src="assets/vendor/wp-content/uploads/2018/05/p1-title-img.jpg" alt="a">
    </div>
    <div class="mkdf-title-wrapper" style="height: 320px">
        <div class="mkdf-title-inner">
            <div class="mkdf-grid">
                <h1 class="mkdf-page-title entry-title">About Us</h1>
                <span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
            </div>
        </div>
    </div>
</div>


<section class="wpb-content-wrapper">
    <div class="mkdf-row-grid-section-wrapper ">
        <div class="mkdf-row-grid-section">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1526291177080">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="mkdf-elements-holder   mkdf-two-columns  mkdf-responsive-mode-1024 ">
                                <div class="mkdf-eh-item  mkdf-vertical-alignment-top    "
                                     data-item-class="mkdf-eh-custom-4643"
                                     data-1024-1366="0px 10% 0px 0px"
                                     data-768-1024="0px 29% 80px 0px"
                                     data-680-768="0px 17% 80px 0px"
                                     data-680="0px 0% 80px 0px">
                                    <div class="mkdf-eh-item-background-image">
                                    </div>
                                    <div class="mkdf-eh-item-inner">
                                        <div class="mkdf-eh-item-content mkdf-eh-custom-4643"
                                             style="padding: 28px 10% 0px 0px">
                                            <div class="mkdf-section-title-holder  mkdf-st-disable-title-break mkdf-st-subtitle-pos-under">
                                                <div class="mkdf-st-inner">
                                                    <h2 class="mkdf-st-title">
                                                        We take <span class="mkdf-st-title-highlight">flowers</span>
                                                        personally<br /> &amp; we
                                                        bring you happiness
         
                                                                                              </h2>
                                                    <p class="mkdf-st-text"
                                                       style="font-size: 17px;line-height: 29px;margin-top: 27px">
                                                        Lorem ipsum dolor sit amet,
                                                        consectetuer adipiscing
                                                        elit. Aenean commodo ligula
                                                        eget dolor. Aenean massa.
                                                        Cum sociis natoque penatibus
                                                        et magnis dis parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis,
                                                        ultricies nec.
                      
                                                                                 </p>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space"
                                                 style="height: 42px">
                                                
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                            <div class="mkdf-single-image-holder   ">
                                                <div class="mkdf-si-inner">
                                                    <img width="197" height="56"
                                                         src="assets/vendor/wp-content/uploads/2018/04/h2-sign-img.png"
                                                         class="attachment-full size-full"
                                                         alt="s"
                                                         srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img.png 197w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img-75x21.png 75w"
                                                         sizes="(max-width: 197px) 100vw, 197px"
                                                         loading="eager" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mkdf-eh-item      "
                                     data-item-class="mkdf-eh-custom-9986">
                                    <div class="mkdf-eh-item-background-image">
                                    </div>
                                    <div class="mkdf-eh-item-inner">
                                        <div class="mkdf-eh-item-content mkdf-eh-custom-9986"
                                             style="padding: 0 0 0 0 ">
                                            <div class="mkdf-video-button-holder  mkdf-vb-has-img">
                                                <div class="mkdf-video-button-image">
                                                    <img width="800" height="518"
                                                         src="assets/vendor/wp-content/uploads/2018/04/h3-video-img.jpg"
                                                         class="attachment-full size-full"
                                                         alt="a"
                                                         srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-300x194.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-768x497.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-225x146.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img-75x50.jpg 75w"
                                                         sizes="(max-width: 800px) 100vw, 800px"
                                                         loading="eager" />
                                                </div>
                                                <a class="mkdf-video-button-play"
                                                   href="https://www.youtube.com/watch?v=K-0cjGCNYfs"
                                                   target="_self"
                                                   data-rel="prettyPhoto[video_button_pretty_photo_419]">
                                                    <span class="mkdf-video-button-play-inner">
                                                        <span class="mkdf-video-button-outer">
                                                            <span class="arrow_triangle-right"></span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   @await Component.InvokeAsync("Expert")


    <div class="mkdf-row-grid-section-wrapper ">
        <div class="mkdf-row-grid-section">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1526292063574">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="mkdf-testimonials-holder mkdf-testimonials-standard  clearfix">
                                <div class="mkdf-testimonials mkdf-owl-slider"
                                     data-number-of-items="1"
                                     data-enable-autoplay="yes"
                                     data-slider-speed="5000"
                                     data-slider-speed-animation="600"
                                     data-enable-navigation="yes"
                                     data-enable-pagination="no">
                                    <div class="mkdf-testimonial-content"
                                         id="mkdf-testimonials-62">
                                        <div class="mkdf-testimonial-image">
                                            <img width="87" height="87"
                                                 src="assets/vendor/wp-content/uploads/2018/04/testimonial-img-2.png"
                                                 class="attachment-87x87 size-87x87 wp-post-image"
                                                 alt="a"
                                                 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-2.png 87w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-2-50x50.png 50w"
                                                 sizes="(max-width: 87px) 100vw, 87px"
                                                 loading="eager" />
                                        </div>
                                        <div class="mkdf-testimonial-text-holder">
                                            <p class="mkdf-testimonial-text">
                                                
                                                Nullam
                                                dictum felis eu pede mollis pretium.
                                                Integer tincidunt. Cras dapibus
                                                lingua.
                
                                                                       </p>
                                            <span class="mkdf-testimonial-author">
                                                <span class="mkdf-testimonials-author-name">
                                                    
                                                    Anna
                                                    Barnes
                                                
                                                </span>
                                                <span class="mkdf-testimonials-author-job">Florist</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mkdf-testimonial-content"
                                         id="mkdf-testimonials-8">
                                        <div class="mkdf-testimonial-image">
                                            <img width="87" height="87"
                                                 src="assets/vendor/wp-content/uploads/2018/04/testimonial-img-1.png"
                                                 class="attachment-87x87 size-87x87 wp-post-image"
                                                 alt="a" loading="eager"
                                                 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-1.png 87w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-1-50x50.png 50w"
                                                 sizes="(max-width: 87px) 100vw, 87px" />
                                        </div>
                                        <div class="mkdf-testimonial-text-holder">
                                            <p class="mkdf-testimonial-text">
                                                
                                                Lorem
                                                ipsum dolor sit amet, consectetuer
                                                adipiscing elit. Aenean commodo
                                                ligula eget.
                                            
                                            </p>
                                            <span class="mkdf-testimonial-author">
                                                <span class="mkdf-testimonials-author-name">
                                                    
                                                    Jasmine
                                                    White
                                                
                                                </span>
                                                <span class="mkdf-testimonials-author-job">Florist</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>